@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* universal classes */
* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
  color: #0d1321;
  scroll-behavior: smooth;
}
.container {
  margin: 0 150px;
}

/* nav styles */
nav ul {
  margin: 36px 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
nav ul li h2 {
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
}
.resume-btn {
  border-radius: 8px;
  padding: 17px 28px;
  background: #ffffff;
  font-size: 20px;
  font-weight: 600;
  opacity: 80%;
  border: 1px solid black;
  cursor: pointer;
}

/* Banner Styles */
.banner {
  background-image: url("../assets/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-container {
  padding: 26px 221px 45px 221px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-img {
  margin-bottom: 28px;
}
.banner-content {
  width: 928px;
  height: 350px;
}
.banner-title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 32px;
}
.banner-description {
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 32px;
}

.contact-btn {
  padding: 21px 24px;
  font-size: 20px;
  font-weight: 600;
  background: #0d1321;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.contact-btn a {
  text-decoration: none;
  color: white;
}

/* Why Web Development?? section styles */
.why-web {
  margin-top: 74px;
  padding: 80px 150px;
  background-color: #fafafb;
  border-radius: 16px;
}
.why-web-heading {
  padding: 0 47px;
}
.why-web-title {
  text-align: center;
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 24px;
}
.why-web-desc {
  text-align: center;
  margin-bottom: 48px;
  line-height: 26px;
}

.why-web-card-container .card-1 {
  padding: 55px;
  margin-bottom: 32px;
  background: linear-gradient(to right, white, transparent);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}
.why-web-card-container .card-2 {
  padding: 55px;
  margin-bottom: 32px;
  background: linear-gradient(to right, transparent, white);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}
.why-web-card-container .card-3 {
  padding: 55px;
  background: linear-gradient(to right, white, transparent);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}
.why-web-card-container .card-items {
  max-width: 500px;
}
.why-web-card-container .card-items .card-title {
  font-size: 24px;
  font-weight: bold;
  opacity: 70%;
}
.why-web-card-container .card-items .card-desc {
  margin: 16px 0 32px 0;
  line-height: 26px;
}
.why-web-card-container .card-img {
  max-width: 100%;
  height: auto;
}
.why-web-card-container .card-btn {
  padding: 12px 20px;
  font-size: 20px;
  font-weight: 600;
  background: transparent;
  color: #555A63;
  border: 1px solid #555963;
  cursor: pointer;
}
/* Inspiration styles */
.inspiration {
  margin-top: 90px;
}
.inspiration-title {
  text-align: center;
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 24px;
}
.inspiration-desc {
  text-align: center;
  margin-bottom: 48px;
  line-height: 26px;
}
.inspiration-content {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inspiration-content iframe {
  border-radius: 16px;
}

/* current target  */
.current-target {
  margin-top: 150px;
}
.current-target-title {
  text-align: center;
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 24px;
}
.current-target-desc {
  text-align: center;
  margin-bottom: 48px;
  line-height: 26px;
}
.current-target-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.current-target-cards .card-1 {
  padding: 40px;
  background: #fff6f4;
  border-radius: 16px;
  max-width: 370px;
}
.current-target-cards .card-2 {
  padding: 40px;
  background: #f2f6fe;
  border-radius: 16px;
  max-width: 370px;
}
.current-target-cards .card-3 {
  padding: 40px;
  background: #fffdf2;
  border-radius: 16px;
  max-width: 370px;
}

.current-target-cards .card-img {
  max-width: 100%;
  height: auto;
}
.current-target-cards .card-title {
  margin-top: 24px;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 8px;
}
.current-target-cards .card-desc {
  line-height: 26px;
  min-width: 300px;
  opacity: 70%;
  margin-bottom: 24px;
}
.current-target-cards .card-btn {
  border: none;
}
.current-target-cards .card-btn a {
  text-decoration: none;
  color: #0d1321;
  font-weight: 700;
  cursor: pointer;
}
/* Next target  */
.next-target {
  margin-top: 111px;
}
.next-target-title {
  text-align: center;
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 24px;
}
.next-target-desc {
  text-align: center;
  margin-bottom: 48px;
  line-height: 26px;
}
.next-target-cards .card-1 {
  padding: 40px;
  display: flex;
  border: 1px solid #dbdcde;
  border-radius: 16px;
  margin-bottom: 24px;
}
.next-target-cards .card-2 {
  padding: 40px;
  display: flex;
  border: 1px solid #dbdcde;
  border-radius: 16px;
  margin-bottom: 24px;
}
.next-target-cards .card-3 {
  padding: 40px;
  display: flex;
  border: 1px solid #dbdcde;
  border-radius: 16px;
  margin-bottom: 24px;
}
.next-target-cards .card-img {
  margin-right: 24px;
}
.next-target-cards .card-img img {
  max-width: 100%;
  height: auto;
}
.next-target-cards .card-title {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 24px;
}
.next-target-cards .card-desc {
  margin-bottom: 24px;
  line-height: 26px;
}
.next-target-cards .card-btn {
  border: none;
  cursor: pointer;
  background: transparent;
}
.next-target-cards .card-btn a {
  text-decoration: none;
  color: #0d1321;
  font-weight: 700;
}

/* Support section styles  */
.support {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/handshake.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 64px 48px;
}
.support-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 0 205px;
}
.support-content h1 {
  color: white;
}
.support-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 16px;
}
.support-desc {
  color: white;
  margin-bottom: 24px;
  line-height: 26px;
}
.support-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="text"] {
  padding: 20px;
  color: #9ea1a6;
  font-size: 16px;
  width: 550px;
  border-radius: 8px;
  outline: none;
  margin-right: 16px;
}
input[type="submit"] {
  padding: 17px 20px;
  color: #0d1321;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

/* footer styles */
footer {
  margin-top: 80px;
  padding: 40px 0;
  background: #f8f8f8;
}
footer > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contactIcon ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
